{% extends "base.html" %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'storage/machinary_detail.css' %}">
{% endblock %}

{% block title_page %}
Detalles de maquinaria
{% endblock %}

{% block content %}
<main class="machinary-detail">
    <div class="machinary-detail-image">
        <img src="{% if machinary.image %} {{machinary.image.url}} {% else %} "" {% endif %}"
            alt="Imagen de maquinaria">
    </div>
    <div class="machinary-detail-info">
        <h3>
            {{ machinary.name }} - {{ machinary.brand }}
            <a href="{% url 'edit-machinary' machinary.serial %}" class="btn-edit">Editar</a>
        </h3>
        {% if machinary.necessary_maintenance == 'VE' %}
        <p class="status-badge status-ve">
            Vencido
        </p>
        {% elif machinary.necessary_maintenance == 'PV' %}
        <p class="status-badge status-pv">
            Por vencer
        </p>
        {% else %}
        <p class="status-badge status-ad">
            Al día
        </p>
        {% endif %}
        <div class="more-machinary-detail">
            <p>
                Serial: <br>
                {{ machinary.serial }}
            </p>
            <p>
                Fecha de adquisicion: <br>
                {{ machinary.acquisition_date }}
            </p>
            <p>
                Ubicación: <br>
                {{ machinary.lab_name }}
            </p>
            <p>
                Siguiente mantenimiento: <br>
                {{ machinary.upcoming_maintenance }}
            </p>
        </div>
    </div>
</main>

<section>
    <table>
        <tr>
            <th>
                Serial
            </th>
            <th>
                Tipo de Maquinaria
            </th>
            <th>
                Fecha de Mantenimiento
            </th>
            <th>
                Proveedor de Mantenimiento
            </th>
        </tr>
        {% for maintenance in maintenances %}
        {% if maintenance.is_approved %}
        <tr onclick="window.location='{% url 'maintenance-detail' maintenance.id %}'">
            <td>
                {{maintenance.machinary_maintenance.serial}}
            </td>
            <td>
                {{maintenance.machinary_maintenance.name}}
            </td>
            <td>
                {{maintenance.maintenance_date}}
            </td>
            <td>
                {{maintenance.maintenance_provider}}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% include 'storage/includes/pagination.html' %}
</section>
{% endblock %}