<table>
    <tr>
        <th>
            Serial
        </th>
        <th>
            Tipo
        </th>
        <th>
            Marca
        </th>
        <th>
            Laboratorio
        </th>
        <th>
            Ultimo mantenimiento
        </th>
        <th>
            Proveedor del mantenimiento
        </th>
        <th>
            Siguiente mantenimiento
        </th>
        <th>
            Estatus
        </th>
    </tr>

    {% for maintenance in maintenances %}
        <tr onclick="window.location='{% url 'machinary-detail' maintenance.serial %}'">
            <td>
                {{ maintenance.serial }}
            </td>
            <td>
                {{ maintenance.name.type_name }}
            </td>
            <td>
                {{ maintenance.brand.brand_name }}
            </td>
            <td>
                {{ maintenance.lab_name }}
            </td>
            <td>
                {{ maintenance.latest_maintenance_date }}
            </td>
            <td>
                {{ maintenance.latest_maintenance_suppliers }}
            </td>
            <td>    
                {{ maintenance.latest_maintenance_upcoming }}
            </td>
            <td class="{% if maintenance.necessary_maintenance %} require_maintenance {% else %} not_require_maintenance {% endif %}">
                {% if maintenance.necessary_maintenance %}
                <span>Mantenimiento necesario</span>
                {% else %}
                <span>Mantenimiento realizado</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        
</table>