<table>
    <tr>
        <th>
            Serial
        </th>
        <th>
            Tipo
        </th>
        <th>
            Marca
        </th>
        <th>
            Laboratorio
        </th>
        <th>
            Ultimo mantenimiento
        </th>
        <th>
            Proveedor del mantenimiento
        </th>
        <th>
            Siguiente mantenimiento
        </th>
        <th>
            Estatus
        </th>
    </tr>

    {% for maintenance in maintenances %}
        <tr>
            <td>
                {{ maintenance.machinary_maintenance.serial }}
            </td>
            <td>
                {{ maintenance.machinary_maintenance.name.type_name }}
            </td>
            <td>
                {{ maintenance.machinary_maintenance.brand.brand_name }}
            </td>
            <td>
                {{ maintenance.machinary_maintenance.lab_name.lab_name }}
            </td>
            <td>
                {{ maintenance.maintenance_date }}
            </td>
            <td>
                {{ maintenance.maintenance_provider.name_provider }}
            </td>
            <td>
                {{ maintenance.upcoming_maintenance }}
            </td>
            <td class="{% if maintenance.maintenance_neccesary %} require_maintenance {% else %} not_require_maintenance {% endif %}">
                {% if maintenance.maintenance_neccesary %}
                    <span>Mantenimiento necesario</span>
                {% else %}
                    <span>Mantenimiento realizado</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    
</table>