html {
    background-color: #f4f4f4;
}

body {
    min-height: 50vh;
}

.chart-container {
    display: flex;
    margin: auto auto 2rem auto;
    width: 380px;
    height: 380px;
    padding: 20px;
    border-radius: 10px;
}

.chart-header {
    display: flex;
    justify-content: center;
}