{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'header.css' %}">
{% endblock %}

<header>
    <nav class="nav-header">
        <a class="home-header" href="/">
            <img src="{% static 'images/fca.png' %}" alt="Logo UACh" class="logo-uach">
        </a>
        <span>
            {{ user.username }}
        </span>
    </nav>
    <aside>
        {% if user.is_authenticated %}
            {% include 'logout.html'%}
        {% endif %}
    </aside>
</header>
