{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'header.css' %}">
{% endblock %}

<header style="position: relative; z-index: 1000;">
    <nav class="nav-header">
        <a class="home-header" href="/">
            <img src="{% static 'images/fca.png' %}" alt="Logo UACh" class="logo-uach">
        </a>
        <span class="username">
            {{ user.username }}
        </span>
    </nav>
    <div class="filter-laboratory">
        {% for lab in available_laboratories %}
        <div class="lab-item">
            <a href="/search/?laboratorio={{ lab.1 }}" class="lab-name">{{ lab.0 }}</a>

            <div class="lab-menu">
                <h4>Maquinaria de {{ lab.0 }}:</h4>
                <ul>
                    {% for maquina in available_machinary_types %}
                    <li>
                        <a href="/search/?laboratorio={{ lab.1 }}&maquinaria={{ maquina.1}}">
                            {{ maquina.0 }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <h5 class="ver-todo">
                    <a href="/search/?laboratorio={{ lab.1 }}">Ver todo el equipo</a>
                </h5>
            </div>
        </div>
        {% endfor %}
    </div>
    <aside>
        {% if user.is_authenticated %}
        {% include 'logout.html'%}
        {% endif %}
    </aside>
</header>